*{
    font-family: 'Inter', sans-serif;
}


body{
    background-image: url(./assets/background.jpg);
    /* background-color: black; */
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: darken;
    font-family: 'Inter', sans-serif;
}
.main{
    max-width: 1400px;
    margin: auto;
} 
.navbar{
    background-color: #212529;
    color: red;
}
a:link, a:visited {
    color: rgb(249, 249, 249);
    text-decoration: none;
}


.revealfromleft{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 2s ease;
}
.revealfromleft.active{
    transform: translateX(0px);
    opacity: 1;
} 

.revealfromright{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: all 2s ease;
}
.revealfromright.active{
    transform: translateX(0px);
    opacity: 1;
}

.revealfromtop{
    position: relative;
    transform: translateY(-150px);
    opacity: 0;
    transition: all 2s ease;
}
.revealfromtop.active{
    transform: translateY(0px);
    opacity: 1;
}

.revealfrombottom{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}
.revealfrombottom.active{
    transform: translateY(0px);
    opacity: 1;
}
.content{
    height:100vh;
    
}
.text-content{
    position: absolute;
    top:50%;
    left:50%;
    padding: 5px 15px;

}


@media screen and (min-width: 300px){
    .centered {
        text-align: center;
        position: absolute;
        top: 30%;
        left: 5%; 
    }

    
}
@media screen and (min-width: 600px){
    .centered {
        text-align: center;
        position: absolute;
        top: 30%;
        left: 18%; 
    }

    

}
@media screen and (min-width: 900px){
    .centered {
        text-align: center;
        position: absolute;
        top: 30%;
        left: 24%; 
    }

    
}

@media screen and (min-width: 1200px){
    .centered {
        text-align: center;
        position: absolute;
        top: 30%;
        left: 27%; 
    }
}
@media screen and (min-width: 1300px){
    .centered {
        text-align: center;
        position: absolute;
        top: 30%;
        left: 30%; 
    }

    
}

.hovera a:hover{
    background-color: rgb(49, 137, 137);
}
.hovera a:link{
    background-color: rgb(159, 101, 43);
}